# Node modules
node_modules/

# Build outputs
dist/
build/

# Vite cache
.vite/

# Env files
.env
.env.local

# Editor folders
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Misc
*.log
